<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="post-thumbnail pr-3">
            <img class="rounded-circle profile-thumbnail"
                src="{{ url_for('static', filename='images/resources/detail-gold1.jpg') }}">
        </div>
        <div class="post-content">
            <div class="post-date">{{post.created_at|datetime}}</div>
            <div class="post-author">&nbsp;&nbsp;<a href="{{url_for('user.user_page', user_id=post.user.id)}}">{{ post.user.name }}</a></div>
            <div class="post-body">&nbsp;&nbsp;&nbsp;{{ post.content }}</div>
            <div class="post-footer">
                <p><img src="{{url_for('static', filename='svg/chat-square-text.svg')}}" alt=""> 1</p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>