<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/fav.png') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mycss.css') }}">
    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>Heej</title>
    {% endblock %}

    {% from "bootstrap/form.html" import render_form, render_field, render_hidden_errors %}
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Heej</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('main.index')}}">홈</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('user.user_page', user_id=current_user.id)}}">마이페이지</a>
                    </li>
                    {% endif %}
                </ul>
                {% if current_user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            계정
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{url_for('auth.logout')}}">로그아웃</a>
                            <a class="dropdown-item" href="{{url_for('auth.password_reset_request')}}">비밀번호 변경</a>
                        </div>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            계정
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{url_for('auth.login')}}">로그인</a>
                            <a class="dropdown-item" href="{{url_for('auth.register')}}">회원가입</a>
                        </div>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    {% endblock %}
    <!-- Your page content -->
    {% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
    {% endblock %}

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    <script>
        $(document).ready(function () {
            $('#post-{% if comment %}{{comment.post.id}}{%else%}{{''}}{%endif%}').click()
        });
        function show_more_comment(comment_id) {
            $('#comment-body-'+String(comment_id)).removeClass('text-truncate');
            $('#comment-'+String(comment_id)+'-more').text('감추기')
            $('#comment-'+String(comment_id)+'-more').attr('onclick','hide_comment('+String(comment_id)+');')
        }
        function hide_comment(comment_id){
            $('#comment-body-'+String(comment_id)).addClass('text-truncate');
            $('#comment-body-'+String(comment_id)).addClass('text-truncate');
            $('#comment-body-'+String(comment_id)).addClass('text-truncate');
            $('#comment-'+String(comment_id)+'-more').text('더보기')
            $('#comment-'+String(comment_id)+'-more').attr('onclick','show_more_comment('+String(comment_id)+');')
        }
    </script>
    {% endblock %}
</body>

</html>